
        *{padding: 0%;
            margin: 0%;
            }
                .div1{
                    width: 100%;
                    height: 70px;
                    background-color: rgb(49, 38, 24);
                    color: aliceblue;
                    text-align: center;
                    line-height: 70px;
                    font-size: 30px;
                }
                .div1 h1{color: white;
                text-decoration: none;}
                .div2{
                    width: 100%;
                    height: 50px;
                    background-color: rgb(62, 95, 84);
                    text-align: center;
                }
                .div2 ul{
                    list-style-type: none;
                }
        
                .div2 li{
                    display: inline;
                    line-height: 50px;
                    
                }
                .div2 a{
                    text-decoration: underline;
                    padding: 2px;
                    background-color: transparent;
                    opacity: 0.9;
                    font-size: 20px;
                    border-radius: 5px 5px 5px 5px;
                    color: aliceblue;
                    padding: 10px;
                    margin: 2px;
                    
                }
                a:hover{
                    background-color: greenyellow;
                    color: black;
                    border-radius: 1px;
                }
                .div3{
                    width: 30%;
                    height: 300px;
                    padding: 20px;
                    text-align: center;
                    background-color: rgb(182, 112, 100);
                    float: left;
                }
                .div3 table, th td{
                    text-align: left;
                    padding: 5px;
                    font-size: large;
                    color: white;
                }
                .div3 th,td{
                    padding: 5px;
                }
                /* .but{background-color: transparent;
                color: white;
            border-style: none;
        text-decoration: underline;} */
                .div4{
                    margin-left: auto;
                    width: 70%;
                    height: 300px;
                    padding: 20px;
                    text-align: center;
                    background-color: rgb(253, 170, 68);
                    
                }
                .div8{
                    width: 100%;
                    height: 200px;
                    background-color: rgb(49, 38, 24);
                    color: black;
                    text-align: center;
                    
                }
                .typing{
                    text-align: center;
                    padding: 5px;
                }
                .typing1{
                    text-align: center;
                    padding: 10px;
                }
                
                .div8 ul li a{
                    text-decoration: none;
                    text-align: center;
                    color:wheat;
                }
                .div8 li{padding: 50px;}
                .div8 a:hover{
                    background-color: transparent;
                    color: red;
                }

                
            